
@import '../color.css';
@import '../anim/fade.css';
@import '../anim/opacity.css';

@layer components {

    .dash-box-base {
        border-radius: 0.5rem;
        padding: 1rem;
        @apply shadow-lg
    }
    
    .dash-box-\[1\] {
        background-color: rgb(30 58 138 / 0.3);
        @apply dash-box-base anim-fade-float-in-[1];
    }
    
    .dash-box-\[1\]:hover {
        border-color: rgb(30 64 175 / 0.5)
    }

    .dash-box-\[1\].animate:hover {
        @apply increase-opacity;
    }

    .dash-box-b2 {
        background-color: rgb(30 64 175 / 0.3);
        border-radius: 0.5rem;
        padding: 1rem;
        @apply shadow-lg
    }

    .dash-box-b3 {
        background-color: rgb(55 48 163 / 0.3);
        border-radius: 0.5rem;
        padding: 1rem;
        @apply shadow-lg
    }

    .dash-box-b4 {
        background-color: rgb(49 46 129/ 0.3);
        border-radius: 0.5rem;
        padding: 1rem;
        @apply shadow-lg;
    }

    .dash-box-b2:hover {
        border-color: rgb(29 78 216 / 0.5);
    }

    .dash-box-b3:hover {
        border-color: rgb(67 56 202 / 0.3);
    }

    .dash-box-b4:hover {
        border-color: rgb(49 46 129/ 0.5);
    }

}